/* Style général */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f6fa;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Liens */
a {
    color: #1f5faa;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Images du haut */
img {
    max-width: 100%;
}

/* Titres */
h1 {
    color: #1f5faa;
    text-align: center;
    margin-top: 30px;
}

/* Paragraphes */
p {
    width: 80%;
    margin: 10px auto;
    text-align: justify;
}

/* Divisions */
div {
    width: 90%;
    margin: auto;
}

/* Photo de profil */
div img[height="200"] {
    border-radius: 50%;
    border: 4px solid #1f5faa;
    display: block;
    margin: 20px auto;
}

/* Listes */
ul, ol {
    width: 70%;
    margin: 20px auto;
}

li {
    margin-bottom: 10px;
}

/* Section diplômes */
ul li p,
ol li p {
    text-align: left;
}

/* Ancre */
#Jolly_Roger {
    color: #1f5faa;
}

/* Mise en valeur */
strong {
    color: #000000;
}

em {
    color: #444;
    font-style: italic;
}
